.header {
  background-color: hsl(10, 79%, 65%);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  gap: 20rem;
  justify-content: space-between;
  align-items: center;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: hsl(33, 100%, 98%);
}

.balanceHeading {
  font-size: 1.5rem;
  font-weight: 400;
}

.balanceAmount {
  font-size: 2.5rem;
  font-weight: 600;
}

@media screen and (max-width: 28em) {
  .header {
    gap: 18rem;
  }
}
